<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
      td, th {
        border: 1px solid black;
      }

      .person-container {
        display: flex;
      }

      .person-item {
        flex: 50%;
        margin-right: 50px;
      }

      .item-container {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }

      .item {
        width: 200px;
        display: inline-block;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="person-container">
      {{#each people}}
        {{> person}}
      {{/each}}
    </div>
  </body>
</html>