<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <title>Relatório</title>
  <style>
    .client-container {
      display: flex;
      flex-wrap: wrap;
    }

    @page {
      size: A4 landscape;
      margin: 0.5cm;
    }
  </style>
</head>

<body>
  <div class="client-container">
    {{#each clients}}
    {{> client}}
    {{/each}}

    {{#if hasOddLength}}
      <div class="client-item"></div>
    {{/if}}
  </div>
</body>

</html>