<div class="person-item">
  <div>
    <div>
      <h5>Entidade Comunitária sem fins lucrativos</h5>
      <h4>CNPJ: 01.104.138/0001-01 - CGF: Isento</h4>
    </div>
    <div>
      <h4>CONTA D'AGUA</h4>
    </div>
  </div>

  <div>
    <table>
      <tr>
        <th>MUNICÍPIO</th>
        <th>HIDRÔMETRO</th>
        <th>DATA DA INSTALAÇÃO</th>
        <th>MÊS/FATURADO</th>
        <th>EMISSÃO</th>
      </tr>
      <tr>
        <td>MILHÃ</td>
        <td>12345</td>
        <td>10/10/2003</td>
        <td></td>
        <td>____/____/_______</td>
      </tr>
    </table>
  </div>

  <h3>IDENTIFICAÇÃO DO CONSUMIDOR</h3>

  <div>  
    <div class="item-container">
      <div class="item">
        CPF: {{ cpf }}
      </div>
      <div class="item">
        RG: {{ rg }}
      </div>
    </div>
  </div>

  <h3>{{name}}</h3>

  <div class="item-container">
    <div class="item">
      Sítio Traíras, S/N - ZR<br/>
      63.635-000 - Milhã-CE
    </div>
    <div class="item">
      PROFISSÃO <br/>
      {{ profession }}
    </div>
  </div>

  <div>
    <table>
      <tr>
        <th>CÓD</th>
        <th>DESCRIÇÃO</th>
        <th>X</th>
        <th>VALOR (R$)</th>
        <th>LEITURA ANTERIOR</th>
        <th>DATA DA LEITURA</th>
      </tr>
      <tr>
        <td>01</td>
        <td>TAXA MENSAL</td>
        <td></td>
        <td>20,00</td>
        <td></td>
        <td>____/____/_______</td>
      </tr>
      <tr>
        <td>02</td>
        <td>SÓCIO</td>
        <td></td>
        <td></td>
        <td>LEITURA ATUAL</td>
        <td>DATA DA LEITURA</td>
      </tr>
    </table>
    <p>MULTAS POR CONTA EM ATRASO, SERÃO COBRADAS NA FATURA DOS MESES SEGUINTES</p>
  </div>
</div>